{% load static %}

<style>




.rowb {
  margin-top: 30px;
  margin-bottom: 30px
}

.top-padding {
  margin-top: 50px;

}

.side-padding {
  margin-left: 50px;
  margin-right: 50px;
}

.bottom-padding {
  margin-bottom: : 75px;

}



.title-parallax {
  /* The image used */
  background-image: url("{% static 'img/Title_Image2.jpg' %}");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sponsors-parallax {
  /* The image used */
  background-image: url("https://cdn.pixabay.com/photo/2015/11/19/08/52/banner-1050629__340.jpg");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.footer-parallax {
  /* The image used */
  background-image: url("{% static 'img/Blue_Devil_White.png' %}");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13rem 13rem;
}


.logo-btn {
  background-color: #2A458A; /* Dark Blue */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 10px;
  cursor: pointer;
  padding: 15px 25px;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}

.logo-btn:hover {
  background-color: #1A2B57

}

.logo-btn:active {
  background-color: #1A2B57;
  box-shadow: 0 5px #666;
  transform: translateY(6px);
  text-decoration:none;
}

.button {
  background-color: #2A458A; /* Blue */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;

  background-color: white; 
  color: black; 
  border: 2px solid #1A2B57;
}

.button:hover {
  background-color: #1A2B57;
  color: white;
  text-decoration:none;
}




















.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}





</style>