{% extends 'base.html' %}

{% block head %}

<title>FRC 6324|Become a Sponsor</title>

{% endblock %}

{% block body %}

<div class="jumbotron">
  <div class="container">
    <div class='row'>
      <div>
      <h1 class="display-3 font">Become A Sponsor</h1>   
      </div>
    </div>
  </div>
</div>


<div class="container">
<h2 class="display-5 font">Our sponsors are a key part of our organization; their contributions allow us to hold ourselves to a high standard of quality and work on projects that benefit our students and our community. Please note that contribution levels are valued based on the monetary donation or the value of donated services. If you are interested in becoming a sponsor for our program, please visit our contact page and send an email to our Public Relations team.</h2>
</div>

{% endblock %}