{% load static %}

<style>

.font{
  font-family:ubuntu; 
  color: #0B142A;
}

.white-font{
  font-family:ubuntu; 
  color: white;
}


.title-font{
	font-family:ubuntu;
}

.caption {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;

}

.caption span.border {
  color: white;
  padding: 18px;
  font-size: 100px;
  letter-spacing: 10px;

}

.caption2 {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;

}

.caption2 span.border {
  color: white;
  padding: 18px;
  font-size: 50px;
  letter-spacing: 10px;

}

.header {
  color: #001241;
  padding: 10px;
  font-size: 50px;
  
}

.header-center {
  color: #001241;
  padding: 10px;
  font-size: 50px;
  text-align: center;
}

.sponsor-header {
  left: 0;
  top: 50%;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.sponsor-header span.s-header {
  color: #1A2B57;
  font-size: 50px;
}

</style>