<style>

.font{
  font-family:ubuntu; 
}


.titleFont{
	font-family:ubuntu;
}


.rowb {
  margin-top: 30px;
  margin-bottom: 30px
}

.top-padding {
  margin-top: 75px;

}

.side-padding {
  margin-left: 50px;
  margin-right: 50px;
}

.bottom-padding {
  margin-bottom: : 75px;

}


/*Testing!!!!!! &*/

.caption {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;

}

.caption span.border {
  color: white;
  padding: 18px;
  font-size: 100px;
  letter-spacing: 10px;

}

.caption2 {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;

}

.caption2 span.border {
  color: white;
  padding: 18px;
  font-size: 50px;
  letter-spacing: 10px;

}

.header {
  color: #5a5a5a;
  padding: 10px;
  font-size: 50px;
  
}

.title-parallax {
  /* The image used */
  background-image: url("https://lh6.googleusercontent.com/ZhbHsCFBtqP3wQDnUkflRfAgCdVDD85K0MT_UUlHlv6q_EElfJ_8ze4-cMoxHQcD4risYp6jIkOL4MtrzlffUb4hVS8rEZQIglLf6mPMr4-0a5JBuVKFoVTnX4u4rA4pAjzQO7kl");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.footer-parallax {
  /* The image used */
  background-image: url("https://media.discordapp.net/attachments/531234911198380072/531242308096491532/Blue_Devil_White.png?width=565&height=551");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 375px 375px;
}


</style>