{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container">
	<div class="row">
    <h2 class="font featurette-heading">Password reset</h2>    
    <p class="font lead">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>  
    <div class='col-sm-6 col-sm-offset-3'>   
	<form method="post">
		{% csrf_token %}
		{{ form|crispy }}
		<button class="font btn btn-outline-primary my-2 my-sm-0" type="submit">Reset password</button> 
	</form>
	</div>
	</div>
	<hr class="featurette-divider">
</div>

{% endblock %}