{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Our History</title>
{% endblock %}

{% block body %}

<div class="jumbotron">
  <div class="container">
    <div class='row'>
      <div>
      <h1 class="display-3 font">Our History <i class="fa fa-book" aria-hidden="true"></i></h1>   
      </div>
    </div>
  </div>
</div>


<div class="container">
<!-- Feturettes -->


{% for models in model %}
      
        {% if models.place == True %}
        <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading font">{{ models.title }}</h2>
          <p class="lead font">{{ models.body }}</p>
        </div>
        <div class="col-md-5">
          {% if models.image %}
          <img height="500" width="600" class="featurette-image img-fluid mx-auto" src="{{ models.image.url }}" alt="Generic placeholder image">
          {% endif %}
        </div>
      </div>
      <hr class="featurette-divider">
      
        {% else %}

        
        <div class="row featurette">
        <div class="col-md-7 push-md-5">
          <h2 class="featurette-heading font">{{ models.title }}</h2>
          <p class="lead font">{{ models.body }}</p>
        </div>
        <div class="col-md-5 pull-md-7">
          {% if models.image %}
          <img height="500" width="600" class="featurette-image img-fluid mx-auto" src="{{ models.image.url }}" alt="Generic placeholder image">
          {% endif %}
        </div>
        </div>
        <hr class="featurette-divider">
          {% endif %}

{% endfor %}


</div>

      <!-- /END THE FEATURETTES -->



{% endblock %}