{% load static %}

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static 'css/navbar-top.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bg-inverse.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" rel="stylesheet">
<script src="https://use.fontawesome.com/30acb62f12.js"></script>